<h3>{{product.title}}</h3>

<h5>Image: {{product.image}}</h5>
<h5>Cost: {{product.cost}}</h5>
<h5>Description: {{product.description}}</h5>

<button class="btn btn-primary" {{action 'addToCart' product}}>Add to Cart</button>
